.statuses-in-60-minutes {
	$color-status-no-data-bdr = transparent;
	$color-status-ok-bdr = rgba(#262, 0.2);
	$color-status-error-bdr = #f44;

	$color-status-no-data-bkg = transparent;
	$color-status-ok-bkg = rgba($color-status-ok-bdr, 0.19);
	$color-status-error-bkg = rgba($color-status-error-bdr, 0.79);

	$minute-size-in-default-style = 16px;
	$minute-blurry-radius = floor($minute-size-in-default-style / 2);
	$minute-border-width = 1px;
	$minute-horizontal-gap-in-default-style = floor($minute-size-in-default-style / 2);
	$minute-horizontal-half-gap-in-default-style = floor($minute-horizontal-gap-in-default-style / 2);
	$minute-vertical-gap-in-default-style = floor($minute-size-in-default-style / 2);
	$minute-vertical-half-gap-in-default-style = floor($minute-vertical-gap-in-default-style / 2);
	$all-minutes-block-margin-horizontal = 16px;
	$all-minutes-block-margin-vertical = 16px;

	$all-minutes-width-in-default-style  = ($minute-size-in-default-style * 10 + $minute-horizontal-gap-in-default-style * 11);
	$all-minutes-height-in-default-style = ($minute-size-in-default-style *  6 + $minute-horizontal-gap-in-default-style * 7);

	& {
		overflow: hidden; // 为了遮挡内部DOM在blur之后溢出的颜色。
		margin: 0; // 为了遮挡内部DOM在blur之后溢出的颜色。
		padding: ($all-minutes-block-margin-vertical   - $minute-vertical-half-gap-in-default-style)\
					($all-minutes-block-margin-horizontal - $minute-horizontal-half-gap-in-default-style);

		.all-minutes {
			width:  $all-minutes-width-in-default-style;
			height: $all-minutes-height-in-default-style;
			transition-property: filter;
			transition-timing-function: ease-out;
			transition-duration: 0.24s;
			filter: blur(0px);
		}

		.minute {
			box-sizing: border-box;
			flex-shrink: 0;
			transition: all 0.5s ease-out;
			cursor: pointer;

			&.status-no-data {
				cursor: default;
				border-style: dashed;
				border-color: $color-status-no-data-bdr;
				background-color: $color-status-no-data-bkg;
				box-shadow: 0 0 0 0 transparent, inset 0 0 floor($minute-size-in-default-style/2.5) 0 rgba(black, 0.2);
			}

			&.status-ok {
				border-color: $color-status-ok-bdr;
				background-color: $color-status-ok-bkg;
			}

			&.status-error {
				border-color: $color-status-error-bdr;
				background-color: $color-status-error-bkg;
				box-shadow: 0 0 12px 0 $color-status-error-bdr;
			}
		}
	}

	&.all-minutes-should-be-blurry,
	&.style-default {

		.all-minutes {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.minute {
			display: inline-block;
			border-radius: 10000px;
			margin: $minute-vertical-half-gap-in-default-style  $minute-horizontal-half-gap-in-default-style;
			width: $minute-size-in-default-style;
			height: $minute-size-in-default-style;
			border-width: $minute-border-width;
			border-style: solid;
		}
	}

	&.all-minutes-should-be-blurry {
		.all-minutes {
			filter: blur($minute-blurry-radius);
		}
	}

	&.style-domino-row {

		.all-minutes {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			justify-content: flex-end;
			height: auto;
			overflow: hidden;
		}

		.minute {
			display: inline-block;
			margin: $minute-vertical-half-gap-in-default-style  1px;
			width: 5px;
			height: $minute-size-in-default-style;

			&.status-no-data {
				display: none;
			}
		}
	}
}