.hero-value {
	$color-component-bkg = #233445;
	$color-status-no-data-bdr = #ccc;
	$color-status-ok-bdr = #3d4;
	$color-status-error-bdr = #d43;

	$color-status-no-data-bkg = transparent;
	$color-status-ok-bkg = rgba($color-status-ok-bdr, 0.5);
	$color-status-error-bkg = rgba($color-status-error-bdr, 0.5);

	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	h2 {
		$font-size = 40px;
		$line-height = $font-size * 1.125;
		position: relative;
		margin: (- $line-height) auto 0;
		width: 100%;
		font-size: $font-size;
		height: $line-height * 2;
		line-height: $line-height;
		text-align: center;
		overflow: hidden;

		.value-slot {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			bottom: 0;
			opacity: 0;
			transform: translateY(0);
			animation: hero-value-leave-stage 0.32s ease-in backwards;

			@keyframes hero-value-leave-stage {
				from { opacity: 1; transform: translateY(0); }
				to   { opacity: 0; transform: translateY(-66%); }
			}

			&.is-showing {
				opacity: 1;
				animation: hero-value-enter-stage 0.3s ease-out backwards 0.16s;
			}

			@keyframes hero-value-enter-stage {
				from { opacity: 0; transform: translateY(80%); }
				to   { opacity: 1; transform: translateY(0); }
			}
		}
	}

	p {
		margin: 0 auto;
		font-size: 16px;
	}
}