.hero-value {
	$color-component-bkg = #233445;
	$color-status-no-data-bdr = #ccc;
	$color-status-ok-bdr = #3d4;
	$color-status-error-bdr = #d43;

	$color-status-no-data-bkg = transparent;
	$color-status-ok-bkg = rgba($color-status-ok-bdr, 0.5);
	$color-status-error-bkg = rgba($color-status-error-bdr, 0.5);

	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	h2 {
		margin: 0 auto;
		font-size: 40px;
	}

	p {
		margin: 0 auto;
		font-size: 16px;
	}
}