.apc-card {
	// $color-minute-status-no-data-bdr = transparent;
	// $color-minute-status-ok-bdr = rgba(#262, 0.2);
	// $color-minute-status-error-bdr = #f44;

	// $color-minute-status-no-data-bkg = transparent;
	// $color-minute-status-ok-bkg = rgba($color-minute-status-ok-bdr, 0.19);
	// $color-minute-status-error-bkg = rgba($color-minute-status-error-bdr, 0.79);

	$border-radii = 8px;

	& {
		position: relative;
		display: inline-block;
		margin: auto;
		// width: $all-minutes-width-in-default-style + ($all-minutes-block-margin-horizontal - $minute-horizontal-half-gap-in-default-style) * 2;
		padding-top: 50px;
		border-radius: $border-radii;
		background-color: #fff;
		box-shadow: 0 0 24px rgba(0,0,0,0.58);
		transition: background-color 0.24s ease-out;

		.controls {
			position: absolute;
			left: auto;
			right: 0;
			top: 0;
			margin: 16px;
			z-index: 25;
		}

		.abstract {
			margin: 0;
			border-radius: $border-radii;
			z-index: 20;
			transition: background-color 0.24s ease-out;
		}

		.statuses-in-60-minutes {
		}
	}

	&.style-default {

		.abstract {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	&.style-domino-row {

		.abstract {
			position: relative;
		}

		.statuses-in-60-minutes {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row-reverse;
			justify-content: flex-end;
			height: initial;
			overflow: hidden;
		}
	}
}