body {
  margin: 0;
  padding: 40px;
  font-family: sans-serif;
  background-color: #222;
  text-align: center;
}
.info {
  text-align: center;
  color: #fff;
}
.hero-value {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hero-value h2 {
  position: relative;
  margin: -45px auto 0;
  width: 100%;
  font-size: 40px;
  height: 90px;
  line-height: 45px;
  text-align: center;
  overflow: hidden;
}
.hero-value h2 .value-slot {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  opacity: 0;
  transform: translateY(0);
  animation: hero-value-leave-stage 0.32s ease-in backwards;
}
.hero-value h2 .value-slot.is-showing {
  opacity: 1;
  animation: hero-value-enter-stage 0.3s ease-out backwards 0.16s;
}
@-moz-keyframes hero-value-leave-stage {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-66%);
  }
}
@-webkit-keyframes hero-value-leave-stage {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-66%);
  }
}
@-o-keyframes hero-value-leave-stage {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-66%);
  }
}
@keyframes hero-value-leave-stage {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-66%);
  }
}
@-moz-keyframes hero-value-enter-stage {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes hero-value-enter-stage {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes hero-value-enter-stage {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hero-value-enter-stage {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-value p {
  margin: 0 auto;
  font-size: 16px;
}
.statuses-in-60-minutes {
  overflow: hidden;
  margin: 0;
  padding: 12px 12px;
}
.statuses-in-60-minutes .all-minutes {
  width: 248px;
  height: 152px;
  transition-property: filter;
  transition-timing-function: ease-out;
  transition-duration: 0.24s;
  filter: blur(0px);
}
.statuses-in-60-minutes .minute {
  box-sizing: border-box;
  flex-shrink: 0;
  transition: all 0.5s ease-out;
}
.statuses-in-60-minutes .minute.status-no-data {
  border-style: dashed;
  border-color: transparent;
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent, inset 0 0 6px 0 rgba(0,0,0,0.2);
}
.statuses-in-60-minutes .minute.status-ok {
  border-color: rgba(34,102,34,0.2);
  background-color: rgba(34,102,34,0.19);
}
.statuses-in-60-minutes .minute.status-error {
  border-color: #f44;
  background-color: rgba(255,68,68,0.79);
  box-shadow: 0 0 12px 0 #f44;
}
.statuses-in-60-minutes.all-minutes-should-be-blurry .all-minutes,
.statuses-in-60-minutes.style-default .all-minutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.statuses-in-60-minutes.all-minutes-should-be-blurry .minute,
.statuses-in-60-minutes.style-default .minute {
  display: inline-block;
  border-radius: 10000px;
  margin: 4px 4px;
  width: 16px;
  height: 16px;
  border-width: 1px;
  border-style: solid;
}
.statuses-in-60-minutes.all-minutes-should-be-blurry .all-minutes {
  filter: blur(16px);
}
.statuses-in-60-minutes.style-domino-row .all-minutes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: initial;
  overflow: hidden;
}
.statuses-in-60-minutes.style-domino-row .minute {
  display: inline-block;
  margin: 4px 1px;
  width: 5px;
  height: 16px;
}
.statuses-in-60-minutes.style-domino-row .minute.status-no-data {
  display: none;
}
.apc-card {
  position: relative;
  display: inline-block;
  margin: auto;
  padding-top: 50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0,0,0,0.58);
  transition: background-color 0.24s ease-out;
}
.apc-card .controls {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  margin: 16px;
  z-index: 25;
}
.apc-card .abstract {
  margin: 0;
  border-radius: 8px;
  z-index: 20;
  transition: background-color 0.24s ease-out;
}
.apc-card.style-default .abstract {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.apc-card.style-domino-row .abstract {
  position: relative;
}
.apc-card.style-domino-row .statuses-in-60-minutes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: initial;
  overflow: hidden;
}
